@charset "UTF-8";


/*--------------------------------------------------------
1、サイト全体の背景設定
------------------------------------------------------*/



/*--------------------------------------------------------
2、サイト全体の共通設定
-------------------------------------------------------*/

body{ color: #333; }

/*●リンク文字*/
a{ text-decoration: none; }

a:link,
a:visited{ color: #008080; }
a:hover,
a:active{ color: #f60; }
a .prosthetics{
    display: block;
    margin: 1.5em 0 0 0;
    text-decoration: none;
}
/*--------------------------------------------------------
3、エリアの設定
--------------------------------------------------------*/

#container{
	position: relative;
	/*padding-top: 25px;*/
}


/*--------------------------------------------------------
トップ
--------------------------------------------------------*/

#top{
	position: absolute;
	top: 0;
	font-size: 1.2em;
}

#top-in{
	position: relative;
	padding: 5px 0;
}

#top-menu{ text-align: right; }

#top-menu li{
	display: inline;
	margin-left: 1em;
	list-style: none;
}

#top-menu li a{
	padding-left: 12px;
	background: url(../images/icon/icon-arrow03.png) left center no-repeat;
}

#top-menu li a:link,
#top-menu li a:visited{ color: #fff; }
#top-menu li a:hover,
#top-menu li a:active{ color: #f60; }


/*--------------------------------------------------------
ヘッダー
--------------------------------------------------------*/

#header{
	border-bottom: 1px solid #000;
	color: #fff;
	font-size: 1.2em;
}

#header-in{ padding: 1em 0; }

/*●ヘッダーロゴ（メインタイトル）*/
#header #header-title{
	float: left;
	width: 100%; /*ロゴ（メインタイトル）下の<h1>の1行の幅はこちらのwidthの値を変更*/
    text-align: center;

}

#header .header-logo{
	margin-bottom: 0.2em;
	font-size: 3em;
}


/*●ヘッダーロゴテキスト*/
.header-logo a{ text-decoration: none; }

.header-logo a:link,
.header-logo a:visited{ color: #fff; }
.header-logo a:hover,
.header-logo a:active{ color: #f60; }


/*●ヘッダーテキスト・右上の文章*/
#header-in #header-text{
	float: right;
	width: 40%; /*・1行の幅はwidthの値を変更*/
}

#header h1{
	margin-bottom: 1em;
	padding-left: 0.5em;
	font-size: 1.167em;
}


/*--------------------------------------------------------
グローバルナビ
--------------------------------------------------------*/



#global-nav dl{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

#global-nav dt,
#global-nav dd{
	margin: 0;
	padding: 0;
}


/*●メニューボタンを非表示*/
#global-nav .btn-gnav{ display:none; }


/*●グローバルメニュー*/
#global-nav .menu-wrap{ display: block;
width: 80%;
margin: auto;
}

#global-nav #menu{
	font-size: 1.2em;
}

#global-nav #menu li{
	position: relative;
	float: left;
	margin: 0;
	list-style: none;
	font-weight: bold;
}

#global-nav #menu li{ white-space: nowrap; }

/*メニューのデザイン*/
#global-nav #menu li a{
	display: block;
	padding: 1.2em 3em 1.2em 2em;
	/*background: url(../images/icon/icon-gnav.png) 0.5em center no-repeat;*/
	color: #fff;
	text-decoration: none;
}

#global-nav #menu li a:hover,
#global-nav #menu li a:active{
	text-decoration: underline;
}

/*ドロップダウンメニューのデザイン*/
#global-nav #menu li ul{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 12em;
}

#global-nav #menu li ul li{
	margin: 0;
	padding: 0;
	width: 12em;
	background-color: #eaeaea;
	border-top: 0;
	border-right: 0;
	white-space: normal;
}

#global-nav #menu li ul li a{
	display: block;
	padding: 0.8em 2em;
}

#global-nav #menu li ul li a:link,
#global-nav #menu li ul li a:visited{ color: #555; } /*標準時と既に訪れたリンクの背景色*/
#global-nav #menu li ul li a:hover,
#global-nav #menu li ul li a:active{
	color: #fff;
	filter: alpha(opacity=100); /* ie8以下用の透明度を設定 */
	-moz-opacity: 1.0; /* Firefox用の透明度を設定 */
	opacity: 1.0; /* 透明度を設定 */
}

#global-nav #menu li ul ul{
	top: 0;
	left: 100%;
}

#global-nav .showMenu{ display: block!important; }


/*--------------------------------------------------------
コンテンツ全体
--------------------------------------------------------*/

#main{
	background-color: #f9fbfe; /*背景を指定*/
	padding-top: 60px;
}

#main-in{
	padding-top: 1em;
	padding-bottom: 1em;
}


/*●メイン画像*/
#main-image{
	border-bottom: 1px solid #c8c8c8;
	background: url(../images/common/bg-main-image.gif) center bottom repeat-x #fff;
}

#main-image-in{
	position: relative;
	padding: 1em 0;
}

#main-image img{
	width: 100%;
	height: auto;
}

#main-image .catch-copy{
	position: absolute;
	top: 1em;
	left: 1em;
	color: #fff;
	font-size: 3em;
}


/*●パン屑ナビ*/
#breadcrumbs{
	clear: both;
	margin-bottom: 1.5em;
	font-size: 1.2em;
}

#breadcrumbs li{
	display: inline;
	margin-right: 0.5em;
	line-height: 1.8;
	text-align: right;
	list-style: none;
}

#breadcrumbs li a{
	padding-right: 15px;
	background: url(../images/icon/icon-brc.gif) center right no-repeat;
}


/*--------------------------------------------------------
メインコンテンツ（本文）
--------------------------------------------------------*/

#main-contents{ font-size: 1.4em; }

.srorage_inner{
    margin: 3em 0 0 0;
}
.inner_add{
    margin: 0 auto;
}
#main-contents .contents{
	margin-bottom: 2.5em;
	padding: 0 10px;
}
#main-contents .contents .advertisement_midpoint{
    display: inline-block;
    margin: 2em 0 0 0;
}

/*●アコーディオン*/
 .panel-heading {
   cursor: pointer;
}
 .accordion-toggle a:after {
 	font-family: 'FontAwesome';
    content:"\f077";
    float: right;
    color: inherit;
}
 .accordion-toggle a.collapsed:after {
 	font-family: 'FontAwesome';
    content:"\f078";
    float: right;
    color: inherit;
}


/*●H2タグ*/
#main-contents h2{
    margin: .5em 0 0.5em 0;
	padding: 0.3em 0.5em;
	border-left: 28px solid #2f4f4f;
 	border-right: 28px solid #2f4f4f;
 	border-top:1px solid #2f4f4f;
  	border-bottom:1px solid #2f4f4f;
  	text-align:center; 
	/*background: url(../images/common/bg-dot.png) #333;*/
	color: #2f4f4f;
	font-size: 1.75em;
}

* html #main-contents h2{ background: #333; } /* IE6 */
#main-contents .blog{
    margin: 0 0 0.5em;
    display: block;
}
#main-contents h2 a:link,
#main-contents h2 a:visited{ color: #fff; }

#main-contents h2 a:hover,
#main-contents h2 a:active{ color: #f60; }

#main-contents h2.img-title{
	margin: 0 0 1.5em;
	padding: 0;
	border: 0;
	background: none;
}
/*●H3タグ*/
#main-contents h3{
	margin: 0.5em 0;
	padding: 0.8em;
	border: 2px solid #414141;
	font-size: 1.143em;
	font-weight: bold;
	width: 100%;
	text-align: left;
}

#main-contents h3 a:link,
#main-contents h3 a:visited{ color: #333; }

#main-contents h3 a:hover,
#main-contents h3 a:active{ color: #f60; }

#main-contents h3.img-title{
	margin: 0 0 1.5em;
	padding: 0;
	border: 0;
	background: none;
}


/*●H4タグ*/
#main-contents h4{
	margin: 0 0 0.5em;
	padding: 0.8em;
	border: 1px solid #8e8e8e;
	font-weight: bold;
	font-size:18px;
}

#main-contents h4 a:link,
#main-contents h4 a:visited{ color: #333; display: block; }

#main-contents h4 a:hover,
#main-contents h4 a:active{ color: #f60; }

#main-contents h4.img-title{
	margin: 0 0 1.5em;
	padding: 0;
	border: 0;
	background: none;
}


/*●H5タグ*/
#main-contents h5{
	margin: 0 0 1.5em;
	padding: 0 0.8em 0.5em;
	border-bottom: 2px solid #414141;
	font-weight: bold;
}

#main-contents h5.img-title{
	margin: 0 0 1.5em;
	padding: 0;
	border: 0;
	background: none;
	display: block;
	width: 100%;
	text-align: center;
}

#main-contents h5 a:link,
#main-contents h5 a:visited{ color: #333; }

#main-contents h5 a:hover,
#main-contents h5 a:active{ color: #f60; }


/*●段落タグ*/
#main-contents p{ margin-bottom: 1.5em; }
#main-contents .link-naver{
	text-align: left;
	padding-left: 10px;
    margin:5px 0px 15px;
}
#main-contents .study-series{
    display: inline-block;
    margin: 1em 0 0 0;
}


/*●リストタグ*/
#main-contents ul,
#main-contents ol{
	margin: 0 0.8em 1.5em 1.7em;
	padding: 0;
    list-style-type: none;
}

#main-contents li{
	margin-bottom: 0.5em;
	line-height: 1.5em;
}
#main-contents .onsei_serise{
    margin-bottom: 0.5em;
    line-height: 1.5em;
}
#main-contents .onsei_serise li:nth-child(5){
    margin: 0 0 1em 0;
    line-height: 1.5em;
}

/*●引用タグ*/
#main-contents q{
	margin: 0 2px;
	padding: 0 8px;
	background: #efefef;
}

#main-contents blockquote{
	overflow: auto;
	margin: 0 1em -1.5em;
    line-height: 1.5em;
	padding: 1em;
	border: 3px solid #d7d7d7;
	background: url(../images/common/bg-blockquote.png) 3px 3px no-repeat #e0e0e0;
	color: #444;
}

/*●テーブルタグ*/
#main-contents table{
	margin-bottom: 1.5em;
	padding: 0;
	border-top: 1px solid #959595;
	border-left: 1px solid #959595;
}

/*「table」の1行目に「colspan」を利用する場合は「auto」を指定する*/
/*#main-contents table{ table-layout: auto; }*/

#main-contents th,
#main-contents td{
	padding: 0.5em;
	border-right: 1px solid #959595;
	border-bottom: 1px solid #959595;
}

#main-contents th{
	background-color: #a6a6a6;
	color: #fff;
	font-weight: bold;
	text-align: left;
}


/*●テーブルタグ スタイル01*/
#main-contents table.table-style01 th,
#main-contents table.table-style01 td{
	text-align: left;
	vertical-align: top;
}


/*●最新情報（リストタグ）*/
#main-contents ul.news{
	margin: 0 0 3.5em;
	padding: 0;
	padding-bottom: 0;
}

#main-contents ul.news li{
	margin-bottom: 1em;
	padding: 0 1em 1em;
	border-bottom: 1px dotted #414141;
	line-height: 1.4em;
	list-style: none;
}


/*●最新情報（定義タグ）*/
#main-contents dl.news{
	margin: 0;
	margin-bottom: 3.5em;
	padding: 0;
}

#main-contents dl.news dt{
	float: left;
	width: 9em;
	margin: 0;
	padding: 0;
	padding-left: 1em;
}

/*最新情報のアイコン設定*/
#main-contents dl.news dd.cat{
	float: left;
	overflow: hidden;
	width: 6em;
	height: 1.5em;
	padding: 0.1em 0.3em 0;
	border-bottom: none;
	background: #333;
	color: #fff;
	font-size: 0.858em;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#main-contents dl.news dd{
	margin: 0 0 10px 0;
	padding: 0 1em 0.8em 16.5em;
	border-bottom: 1px dotted #414141;
}

/*●最新情報2（定義タグ）*/
#main-contents dl.news02{
	margin: 0;
	margin-bottom: 3.5em;
	padding: 0;
}

#main-contents dl.news02 dt{
	display: block;
	margin: 0 0 0.5em 0;
	padding: 0;
	padding-left: 1em;
	font-weight: bold;
}

#main-contents dl.news02 dd{
	margin: 0 0 0.5em 0;
	padding: 0 1em 0.8em 1em;
	border-bottom: 1px dotted #414141;
}

#main-contents dl.news02 dd.cat{
	margin: 0;
	padding: 0 1em 0.5em 1em;
	border: 0;
}

#main-contents dl.news02 dd.cat ul{
	margin: 0;
	padding: 0;
	/zoom : 1;
}

#main-contents dl.news02 dd.cat ul:after{ content : ''; display : block; clear : both; height:0; }

#main-contents dl.news02 dd.cat li{
	clear: none;
	overflow: hidden;
	float: left;
	height: 1.5em;
	margin-right: 0.5em;
	padding: 0.1em 0.3em 0;
	background: #333;
	color: #fff;
	font-size: 0.858em;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

/*カテゴリの文字数が多い場合はコメントアウトを解除*/
/*#main-contents dl.news dd.cat{
	clear: none;
	width: auto;
}

#main-contents dl.news dd{
	clear: both;
	padding: 0 1em 0.8em 1em;
}*/

#main-contents dl.news dd.cat,
#main-contents dl.news02 dd.cat{ font-weight: bold; }
#main-contents dl.news dd.cat.color01,
#main-contents dl.news02 dd.cat .color01{ background: #4784bf; }
#main-contents dl.news dd.cat.color02,
#main-contents dl.news02 dd.cat .color02{ background: #dd6673; }
#main-contents dl.news dd.cat.color03,
#main-contents dl.news02 dd.cat .color03{ background: #39a869; }
#main-contents dl.news dd.cat.color04,
#main-contents dl.news02 dd.cat .color04{ background: #e8ac51; }
#main-contents dl.news dd.cat.color05,
#main-contents dl.news02 dd.cat .color05{ background: #a55b9a; }
#main-contents dl.news dd.cat.color06,
#main-contents dl.news02 dd.cat .color06{ background: #aac863; }


/*●定義タグ スタイル01*/
#main-contents dl.dl-style01{
	margin: 0 0 3.5em;
	padding: 0;
}

#main-contents dl.dl-style01 dt{
	float: left;
	width: 9em;
	margin: 0;
	padding: 0 0 0 1em;
}

#main-contents dl.dl-style01 dd{
	margin: 0 0 10px 0;
	padding: 0 1em 0.8em 10em;
	border-bottom: 1px dotted #414141;
}


/*●定義タグ スタイル02*/
#main-contents  dl.dl-style02{
	margin-bottom: 1.2em;
	padding: 0;
	border: 1px solid #777;
	border-top: 0;
	background-color: #ddd;
}

#main-contents dl.dl-style02 dt{
	margin: 0;
	padding: 0.5em;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	font-weight: bold;
}

#main-contents dl.dl-style02 dd{
	margin: 0;
	padding: 0.8em 1.0em;
	background-color: #fff;
}


/*●チェックリスト（リストタグ）*/
#main-contents ul.checklist{
	margin: 0 0 1.5em;
	padding: 1em;
	padding-bottom: 0;
	border: 1px solid #414141;
}

#main-contents ul.checklist li{
	margin-bottom: 1.5em;
	padding-top: 5px;
	padding-left: 24px;
	background: url(../images/icon/icon-check01-red.png) left top no-repeat;
	list-style-type: none;
}


/*●戻る＆進むリンク*/
.link-next,
.link-back,
.link-next02,
.link-back02{ clear: both; }

.link-next,
.link-next02{ text-align: right; }

.link-back,
.link-back02{ text-align: left; }

.link-next a{
	padding: 3px 0 3px 15px;
	background: url(../images/icon/icon-arrow_r.png) 0 7px no-repeat;
}
.link-back a{
	padding: 3px 0 3px 15px;
	background: url(../images/icon/icon-arrow_l.png) 0 7px no-repeat;
}

.link-next02 a{
	padding: 3px 0 3px 15px;
	background: url(../images/icon/icon-arrow_r-yellow.png) 0 7px no-repeat;
}
.link-back02 a{
	padding: 3px 0 3px 15px;
	background: url(../images/icon/icon-arrow_l-yellow.png) 0 7px no-repeat;
}


/*●段組み*/
.box-wrap .box-l{
	float: left;
	width: 48%;
	margin: 0 0 1.5em;
	border: 1px solid #aaa; /*boxの枠線の指示*/
}

.box-wrap .box-r{
	float: right;
	width: 48%;
	margin: 0 0 1.5em;
	border: 1px solid #aaa;
}

#main-contents .box-wrap .title{
	margin-bottom: 1.5em;
	background-color: #999; /*boxのタイトルの背景色*/
}

#main-contents .box-wrap .title p{
	margin: 0 10px;
	padding: 5px 0;
	color: #fff;
	font-weight: bold;
}


/*●ランキング（リストタグ）*/
#main-contents .box-wrap .ranking{
	margin: 0 0 15px;
}

#main-contents .ranking li{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #aaa; /*区切り線の指示*/
	background: none;
	list-style: none;
}

#main-contents .ranking li.end{
	padding-bottom: 0;
	border-bottom: none;
}

#main-contents .ranking p{ margin: 0 0 10px; }


/*●ページネーション スタイル01*/
#main-contents .cont-menu01{
	position: relative;
	overflow: hidden;
	width: 100%;
}

#main-contents .cont-menu01 ul{
	position: relative;
	left: 50%;
	float: left;
	margin-left: 10px;
}

#main-contents .cont-menu01 li{
	position: relative;
	left: -50%;
	float: left;
	margin-right: 10px;
	list-style: none;
}

#main-contents .cont-menu01 li:last-child{ margin-right: 0; }

#main-contents .cont-menu01 li.cur{
	padding: 3px 10px;
	border: 1px solid #ccc;
	background-color: #959595;
	color: #fff;
	font-weight: bold;
}

#main-contents .cont-menu01 li a{
	display: block;
	padding: 3px 10px;
	border: 1px solid #ccc;
}

#main-contents .cont-menu01 li a:link,
#main-contents .cont-menu01 li a:visited{ background-color: transparent; }

#main-contents .cont-menu01 li a:hover,
#main-contents .cont-menu01 li a:active{
	background-color: #959595;
	color: #fff;
}

#main-contents .text-field{ width: 90%; }


/*●ページネーション スタイル02*/
#main-contents .cont-menu02{
	position: relative;
	overflow: hidden;
	width: 100%;
}

#main-contents .cont-menu02 ul{
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
}

#main-contents .cont-menu02 li{
	max-width: 50%;
	list-style: none;
}

* html #main-contents .cont-menu02 li{ white-space: nowrap; } /* IE6 */

#main-contents .cont-menu02 li.prev{ float: left; }

#main-contents .cont-menu02 li.next{ float: right; }

#main-contents .cont-menu02 li a{
	display: block;
	padding: 3px 10px;
	border: 1px solid #ccc;
}

#main-contents .cont-menu02 li a:link,
#main-contents .cont-menu02 li a:visited{ background-color: transparent; }

#main-contents .cont-menu02 li a:hover,
#main-contents .cont-menu02 li a:active{
	background-color: #959595;
	color: #fff;
}


/*●サイトマップ*/
#main-contents .sitemap li{ list-style: none; }

#main-contents .sitemap li a{
	display: block;
	padding: 3px 0 3px 20px;
	background: url(../images/icon/icon-arrow_r.png) 0 6px no-repeat;
}

#main-contents .sitemap ul{ margin-top: 1em; }

#main-contents .sitemap li li a{
	padding: 0 0 0 15px;
	border-left: none;
	background: url(../images/icon/icon-menu02.png) 0 6px no-repeat;
}


/*●Twitterウィジェット用*/
#main .twtr-widget{ margin-bottom: 15px; }

#main .twtr-doc{ margin: auto; }

#main .twtr-hd h3,
#main .twtr-hd h3{
	clear: none;
	width: auto;
	border: 0;
	background: none;
}


/*--------------------------------------------------------
サブコンテンツ / サイドバー
--------------------------------------------------------*/

#sub-contents,
#sidebar,
#sub-contents dd,
#sidebar dd{
    margin: 0;
	padding: 0;
}

* html #sub-contents,
* html #sidebar{ overflow: hidden; }

#sub-contents .sub-contents-btn,
#sidebar .sidebar-btn{ display: none; }

.sub-column{ font-size: 1.2em; }

.sub-column li{ list-style: none; }


/*●コンテンツ*/
.sub-column .contents{
	margin-bottom: 1.5em;
	padding: 0.5em;
}

.sub-column hr{ clear: both; }

.sub-column h3{
	padding: 0.7em;
	margin-bottom: 5px;
	border: 1px solid #959595; /*サイドバー見出しの枠線*/
	background: url(../images/common/bg-dot.png) #333; /*背景にドットの透過画像*/
	color: #fff;
	font-weight: bold;
}

* html .sub-column h3{ background: #333; } /* IE6 */

.sub-column .contents h3{
	margin: -0.5em;
	margin-bottom: 0.8em;
}


/*●プロフィール*/
.sub-column .profile-img img{
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

.sub-column .profile-txt p{ margin-bottom: 1em; }

.col1 .sub-column .profile-img,
.col2 #sub-contents .profile-img,
.col2r #sub-contents .profile-img{
	float: left;
	padding-right: 20px;
}


/*●テーブルタグ*/
.sub-column table caption{
	font-weight: bold;
	text-align: center;
}

.sub-column table{
	width: 90%;
	margin: auto;
	margin-bottom: 1.5em;
	padding: 0;
	border-top: 1px solid #959595;
	border-left: 1px solid #959595;
}

.sub-column table th,
.sub-column table td{
	padding: 0.5em 0.2em;
	border-right: 1px solid #959595;
	border-bottom: 1px solid #959595;
}

.sub-column table th{
	background: #a6a6a6;
	color: #fff;
	font-weight: bold;
	text-align: center;
}


/*●カレンダー*/
.sub-column table.calendar tbody td{ text-align: center; }

.sub-column table.calendar tfoot td{ border-right: none; }

.sub-column table.calendar tfoot td.next{
	border-right: 1px solid #959595;
	text-align: right;
}

.sub-column table.calendar tbody td a{ display: block; }


/*●検索ボックス*/
.sub-column dl.search-box{
	margin: 0 0 16px;
	width: 100%;
}

.sub-column dl.search-box dt{
	display: block;
	float: left;
	width: 63%;
	margin: 0;
	padding: 0;
	padding-right: 5px;
}

.sub-column dl.search-box dt input{
	width: 95%;
	height: 1.4em;
	padding: 2px;
	border: 1px solid #aaa;
	color: #aaa;
	line-height: 1.4em;
}

.sub-column dl.search-box dt input.onfocus{ color: #333; }

.sub-column dl.search-box dd{
	float: left;
	margin: 0;
	padding: 0;
}

.sub-column dl.search-box dd input{
	height: 2em;
	padding: 0.1em 1em;
	line-height: 1.4em;
}


/*●お問い合わせ*/
.sub-column .contact .icon-contact{
	float: left;
	padding: 0 10px 10px 0;
}

.sub-column .contact .text-contact{ overflow: hidden; }


/*●サイドメニュー*/
.sub-column .side-menu{ margin: 0; }

.sub-column .side-menu li{ list-style: none; }

.sub-column .side-menu li a{
	display: block;
	padding: 12px 10px 12px 20px;
	background: url(../images/icon/icon-arrow_r.png) 2px 15px no-repeat;
    font-size: 30px;
}

.sub-column .side-menu li a:active,
.sub-column .side-menu li a:hover{
	background-color: #fc6;
	color: #fff;
}

.sub-column .side-menu ul{
	padding: 0;
	margin: 0;
}

.sub-column .side-menu ul ul{ padding: 0; }

.sub-column .side-menu li li{
	width: 95%;
	margin-bottom: 0;
	padding-left: 5%;
	border: 0;
}

.sub-column .side-menu li li a:link,
.sub-column .side-menu li li a:visited{
	padding: 6px 10px 6px 15px;
	border-left: none;
	background: url(../images/icon/icon-menu02.png) 2px 12px no-repeat;
}

.sub-column .side-menu li li a:active,
.sub-column .side-menu li li a:hover{ background: url(../images/icon/icon-menu02.png) 2px 12px no-repeat #fc6; }


/*●ランキング*/
.ranking{
	margin: 0;
	padding: 5px 8px;
}

.ranking li{
	margin-bottom: 10px;
	padding: 0;
	border-bottom: 1px dotted #7070ba;
	background: none;
	font-weight: normal;
}

.ranking li p{ margin-bottom: 10px; }
.ranking li.end{ border-bottom: none; }

.ranking .no01 .item-name,
.ranking .no02 .item-name,
.ranking .no03 .item-name{
	color: #fe8528;
	font-size: 1.167em;
}

.ranking .no01 .item-name, .ranking .no02 .item-name,
.ranking .no03 .item-name, .ranking .no04 .item-name,
.ranking .no05 .item-name, .ranking .no06 .item-name,
.ranking .no07 .item-name, .ranking .no08 .item-name,
.ranking .no09 .item-name, .ranking .no10 .item-name{
	padding: 4px 0 4px 30px;
	font-weight: bold;
}

.no01 .item-name{ background: url(../images/icon/icon-rank01-01.png) left top no-repeat; }
.no02 .item-name{ background: url(../images/icon/icon-rank01-02.png) left top no-repeat; }
.no03 .item-name{ background: url(../images/icon/icon-rank01-03.png) left top no-repeat; }
.no04 .item-name{ background: url(../images/icon/icon-rank01-04.png) left top no-repeat; }
.no05 .item-name{ background: url(../images/icon/icon-rank01-05.png) left top no-repeat; }
.no06 .item-name{ background: url(../images/icon/icon-rank01-06.png) left top no-repeat; }
.no07 .item-name{ background: url(../images/icon/icon-rank01-07.png) left top no-repeat; }
.no08 .item-name{ background: url(../images/icon/icon-rank01-08.png) left top no-repeat; }
.no09 .item-name{ background: url(../images/icon/icon-rank01-09.png) left top no-repeat; }
.no10 .item-name{ background: url(../images/icon/icon-rank01-10.png) left top no-repeat; }

.ranking .no01 .item-name{ background: url(../images/icon/icon-rank01-01.png) left top no-repeat; }
.ranking .no02 .item-name{ background: url(../images/icon/icon-rank01-02.png) left top no-repeat; }
.ranking .no03 .item-name{ background: url(../images/icon/icon-rank01-03.png) left top no-repeat; }
.ranking .no04 .item-name{ background: url(../images/icon/icon-rank01-04.png) left top no-repeat; }
.ranking .no05 .item-name{ background: url(../images/icon/icon-rank01-05.png) left top no-repeat; }
.ranking .no06 .item-name{ background: url(../images/icon/icon-rank01-06.png) left top no-repeat; }
.ranking .no07 .item-name{ background: url(../images/icon/icon-rank01-07.png) left top no-repeat; }
.ranking .no08 .item-name{ background: url(../images/icon/icon-rank01-08.png) left top no-repeat; }
.ranking .no09 .item-name{ background: url(../images/icon/icon-rank01-09.png) left top no-repeat; }
.ranking .no10 .item-name{ background: url(../images/icon/icon-rank01-10.png) left top no-repeat; }

.ranking .item-img{ text-align: center; }


.col1 .ranking .item-img,
.col2 #sub-contents .ranking .item-img,
.col2r #sub-contents .ranking .item-img{
	float: left;
	padding-right: 20px;
}

.study_facebook{
    display: block;
    margin: 1em 0 0.5em 0;
}

/*●バナーエリア*/
.sub-column .banner{ margin-bottom: 10px; }

.sub-column .banner li{
	margin-bottom: 18px;
	list-style: none;
	text-align: center;
}

.col1 .sub-column .banner li,
.col2 #sub-contents .banner li,
.col2r #sub-contents .banner li{
	display: inline;
	margin-right: 8px;
}

#main-contents #facebook{
    margin:0 0 2em 0;
}
/*--------------------------------------------------------
フッター
--------------------------------------------------------*/

#footer{
	clear: both;
	padding: 20px 0px;
	border-bottom: 1px solid #c0c0c0; /*フッターの最下部のボーダーの指示*/
	background: #2f4f4f;/*フッター全体の背景を指定*/
	color: #fff; /*文字色の指定*/
	font-size: 1.2em;
}

* html #footer{ background: #333; } /* IE6 */

#footer a:link,
#footer a:visited{ color: #fff; }
#footer a:hover,
#footer a:active{ color: #f60; }

#footer h3{
	margin-bottom: 1em;
	padding: 0.8em;
	border-left: 21px solid #40ad3b;
	background: url(../images/title/bg-footer-h3.gif) #e0e0e0;
	color: #333;
	font-weight: bold;
}

* html #footer h3{ background: #e0e0e0; } /* IE6 */

#footer-in li{ list-style: none; }

#footer .area01{
	float: left;
	width: 39%;
	padding-bottom: 20px;
}

#footer .area02{
	float: right;
	width: 60%;
	padding-bottom: 20px;
}

/*●アクセス情報*/
#footer .access{ padding: 0 1em;}

#footer .access p{ margin-bottom: 1em; }

p.accessmap{
	padding: 0px 0 3px;
	padding-left: 25px;
	background: url(../images/icon/icon-arrow02.png) left center no-repeat;
}


/*●フッターメニュー*/
#footer .footer-menu{
	overflow: hidden;
	width: 100%;
	padding: 0;
}

#footer .footer-menu ul{
	float: left;
	width: 100%;
	margin-right: 5%;
	padding: 1%;
}

#footer .footer-menu ul ul{
	float: none;
	width: auto;
	margin-top: 1em;
	margin-right: 0;
}

.footer-menu li{
	margin-bottom: 5px;
	padding: 0px 0 3px;
	padding-left: 25px;
	background: url(../images/icon/icon-arrow02.png) left top no-repeat;
}

.footer-menu li li{
	padding-left: 15px;
	padding-top: 0;
	background: url(../images/icon/icon-arrow03.png) left 5px no-repeat;
}


/*●フッターバナー*/
#footer-banner{
	clear: both;
	border-top: 1px solid #000;
}

#footer-banner ul{
	padding: 20px 0;
	border-top: 1px solid #555;
}

#footer-banner li{
	display: inline;
	list-style: none;
}


/*●コピーライト*/
.copyright{
	padding: 15px 0;
	/*border-top: 1px solid #555;*/
	background: #2f4f4f;
	color: #fff;
	font-size: 1.2em;
	text-align: center;
}

* html .copyright{ background: #333; } /* IE6 */


/*--------------------------------------------------------
ページトップ
--------------------------------------------------------*/

.page-top{
	position: fixed;
	right: 30px;
	bottom: 20px;
	z-index: 99;
	width: 50px;
	color: #fff;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	line-height: 65px;
	border-radius: 50%;
}

* html .page-top{ display: none; }

.page-top a{
	display: block;
	text-decoration: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	height: 70px;
    width: 70px;
    right: 10px;
    border-radius: 50%;
}

.page-top a:link,
.page-top a:visited{
	background: #708090;
	color: #fff;
	opacity: 0.7;
}

.page-top a:hover,
.page-top a:active{
	opacity: .9;
}


/*------------------------------------------------------------
ソーシャルボタン
-------------------------------------------------------------*/

#main-contents .sb{
	width:100%;
	margin: 0;
	padding: 0;
}

#main-contents .sb li{
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
	list-style: none;
}

* html #main-contents .sb li{
	float: left;
	width: 130px;
	list-style: none;
} /* IE6 */

*+html #main-contents .sb li{
	display: inline;
	list-style: none;
} /* IE7 */

#main iframe.twitter-share-button{ width: 100px!important; }


/*コメントナビ*/
.navigation .alignright{
	float: right;
}
.navigation .alignleft{
	float: left;
}

.navigation:after{ content : ''; display : block; clear : both; height:0; }
.navigation{
	margin-bottom: 30px;
	/zoom : 1;
}


/*------------------------------------------------------------
floatの回り込みを解除
-------------------------------------------------------------*/

#top-in:after,
#header-in:after,
#global-nav-in #menu:after,
#main-in:after,
#main-and-sub:after,
.contents:after,
#main-contents dl.dl-style01:after,
.box-wrap:after,
dl.search-box:after,
#footer-in:after,
#main-contents .sb:after,
.contact:after,
#main-contents .cont-menu01:after,
#main-contents .cont-menu02:after,
.clearfix:after{ content : ''; display : block; clear : both; height:0; }

#top-in,
#header-in,
#global-nav-in #menu,
#main-in,
#main-and-sub,
.contents,
#main-contents dl.dl-style01,
.box-wrap,
dl.search-box,
#footer-in,
#main-contents .sb,
.contact,
#main-contents .cont-menu01,
#main-contents .cont-menu02,
.clearfix{ /zoom : 1; }


/*------------------------------------------------------------
　template created by web-rider
-------------------------------------------------------------*/

h1.title-br {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}

/* レスポンシブ化作業用CSS */
div.pre {
  background: red;
  margin:5px auto;
  height: 50px;
  width: 30%;
}

a.navbar-brand {
  color: #fff;
  font-weight: bold;
}

a .navbar-brand:hover {
  color: #f60;
}

.navbar-toggler {
  /*border-color: #fff;*/
  /*width: 100%;*/
}
.btn-div {
  /*width: 100%;*/
}

.fa.fa-bars {
  color: #fff;
}

.footer-box {
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 20px; 
  border-bottom: 1px solid #fff;
}

p.footer-btn-title {
  color: #fff;
}

.content {
	margin-bottom: 20px;
	text-align: center;
}

.twitter-follow-button {
	margin: 5px;
}

.book-box{
	margin-bottom: 15px;
}

/*トップページ問題リンクボタン*/
a.top-btn{
	color: #2f2f2f; 
}
.top-btn {
    margin-bottom: 12px;
    /* margin-left: 17px; */
    width: 100%;
    height: 80px;
    line-height: 78px;
    font-size: 20px;
    padding:0px;
}
a.top-btn:hover {
    color: #ffffff; 
}

.question-btn{
	 margin-bottom: 12px;
    /* margin-left: 17px; */
    width: 100%;
    font-size: 15px;
    padding: 10px 5px;
}

/*navを中央表示*/
.navbar-nav {
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
}

.navbar-brand {
  margin: 0 auto;
}

/*nav背景統一*/
nav.navbar {
  /*background: url(../images/common/bg-dot.png) #333;*/
  background: rgba(0,139,139,.8);
}

/*ナビバーとジャンボトロン バランス調整*/
.nav-jam{
	height: 35px;
}

.jumbotron {
	background: linear-gradient(-90deg, rgba(15,52,67,.7),rgba(52,232,158,.7)),url(../images/forestflare.jpg);
	margin-top: 63px;
	margin-bottom:0px;
}

.display-4,
.lead {
	color: #fff;
}

a.btn1,a.btn2,a.btn3,a.btn4,a.btn5,a.btn6{
	color: #fff;
	font-weight: bold;
	border: none;
}

a.btn1{
	background: #ffe449;
}

a.btn2{
	background: #4ccfc9;
}

a.btn3{
	background: #ff8db3;
}

a.btn4{
	background: #4ccfc9;
}

a.btn5{
	background:#ff637f;
}

.top-number{
	font-size: 25px;
}

.top-number p{
	border-bottom: 2px solid #2f4f4f;
}

.number{
	border-bottom: 2px solid #FF8C00;
	font-size: 25px;
	font-weight: bold;
}

.description{
	font-size: 30px;
	color:#2f4f4f;
	margin-top: 40px;
	text-align:center;
}

.top-color{
	color: #FF4500;
	font-weight: bold
}

.question-box,.top-row{
	margin-bottom: 3em;
}

.fixed-top{
	/*height:63px;*/
}

.panel-body{
	margin-bottom: 20px;
}

h2.question-color{
	color: #fff !important;
	font-weight: bold;
	background: #2f4f4f;
	border-radius:  10px;
}

/* レスポンシブ */
@media(min-width:992px){
  .phone-brand,
  .btn-div,
  .twitter-phone {
    display: none;
  }
  	.top-number br{
		display: none;
	}
}

@media(min-width:576px){
  .phone-brand br,
  .facebook-phone,
  .facebook-iphonese{
    display: none;
  }
  .btn-div {
    margin: 0 auto;
    width: 70%;
  }
  .jumbotron{
  	padding: 13rem 2rem;
  }
}

@media(max-width:992px){
    #header-title,
    #header-in,
    .twitter-pc,
    .facebook-iphonese {
      display: none;
    }
    
    #container {
    	padding-top: 0px;
    }

    #top #top-in #top-menu {
      display: block;
    }

    #global-nav #menu li {
      width: 25%;
    }
    
    #breadcrumbs {
      display: none;
    }
  
  
   .twitter-phone {
  	  display: block;
   }
   img.big-photo {
   	width: 100%;
   	height: auto;
   }
}

@media(max-width:544px){
  #global-nav #menu li {
    width: 50%;
  }

  .copyright {
    font-size: 10px;
  }
  
  .facebook-pc {
  	display: none;
  }
  
  .facebook-phone {
  	display: block;
  	text-align: center;
  }
  
  
  .twitter-phone {
	display: block;
  }
  
  #main-image .catch-copy {
  	position: absolute;
    top: 1.5em;
    left: 1em;
    color: #fff;
    font-size: 15px;
  }
  	.description{
		font-size:20px;
		text-align:left;
	}
	.top-number p{
	border-bottom: none;
	}
}

@media(max-width:380px){
	.facebook-phone {
		display: none;	
	}
	.facebook-iphonese {
		display: block;
	}
	.jumbotron{
		margin-top:56px;
	}
	.description{
		font-size:20px;
	}

}
